{% extends 'base.html.twig' %}

{% block title %}New DataCrenas{% endblock %}

{% block body %}
    <h1>Create new DataCrenas</h1>

    {{ include('data_crenas/_form.html.twig') }}

    <a href="{{ path('app_data_crenas_index') }}">back to list</a>
{% endblock %}
