/* _navbar */

.navbar-custom {
    
    .profile-edit-page-header {
        
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .breadcrumb {
        background: transparent;
    }
}


.topnav-user {
    .dropdown-item {
        clear: both;
        font-weight: 400;
        color: #6c757d;
        font-size: 14px;
        text-align: inherit;
        white-space: nowrap;
       
    }
    
}
